{% extends "base.html" %}
{% block head %}
{{ super() }}
<style type="text/css">
</style>
{% endblock %}
{% block content %}

{% for k in rez %}
<table>
    <td>
        <form action="/pages/detail" method="post">
            <button value="{{ k.id_film }}" class="btn_out" name="btn_det">
                <img src="/static/{{ k.cover }}" alt="{{ k.title }}" class="img_out">
            </button>
        </form>
    </td>

    <td valign="top">
        <form action="/pages/del" method="post">
            <h1>{{ k.title }}</h1>
            <h3>{{ k.genre }}</h3>
            <button class="favorite styled btn_del" name="btn_del" value="del">Просмотренно</button>
        </form>
    </td>

</table>
{% endfor %}

{% endblock %}