body {
  margin: 0;
  background-image: url("/static/img/books_fon.jpg");

}

.box_buttons {
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap-reverse;
  align-items: center;
  padding: 150px 10px 130px 10px;

}

.child {
  font: italic small-caps bold 16px/2 cursive;
  margin: 15px;
  padding: 10px 10px;
  width: 20%;
  font-weight: 500;
  font-size: 2.0em;
  text-align: center;
  border: none;
  border-radius: 20px;
}

.statistics {
  font: italic small-caps bold 16px/2 cursive;
  padding: 1px 1px;
  width: 15%;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  border: none;
  border-radius: 15px;
}

.container_add_input {
  box-sizing: border-box;
  display: flex;
  background-color: white;
  opacity: 0.95;
  flex-flow: column wrap-reverse;
  align-items: center;
  padding: 2%;
  margin: 10% auto;
  width: 40%;
  font: italic small-caps 16px/2 cursive;
  font-size: 2em;
}

.add_input {
 background-color: #E1ECEB;
 margin: 10px;
 width: 300px;
 height: 30px;
}

.add_btn {
 width: 300px;
 height: 40px;
 font: italic small-caps 16px/2 cursive;
 font-size: 0.5em;
   border: none;
  border-radius: 20px;
}

.status {
margin: 10px;
padding: 10px;
 font: italic small-caps 16px/2 cursive;
 font-size: 0.4em;
}

.container_add_output {
  box-sizing: border-box;
  display: flex;
  background-color: white;
  opacity: 0.95;
  flex-flow: column wrap-reverse;
  align-items: center;
  padding: 2%;
  margin: 1% auto;
  width: 40%;
  height: auto;
  font: italic small-caps 16px/2 cursive;
  font-size: 1.1em;
}

img {
  width: 60%;
  height: auto;
}

.btn_home {
  font: italic small-caps 16px/2 cursive;
  font-size: 0,5em;
}

.container_find_block {
  box-sizing: border-box;
  display: flex;
  background-color: white;
  opacity: 0.95;
  flex-flow: column wrap-reverse;
  align-items: center;
  padding: 2%;
  margin: 15% auto;
  width: 50%;
  height: auto;
  font: italic small-caps 16px/2 cursive;
  font-size: 1,1em;
}

.find_block {
margin: 10px;
padding: 10px;
 font: italic small-caps 16px/2 cursive;
 font-size: 1,1em;
}

.find_btn {
 width: 300px;
 height: 40px;
 font: italic small-caps 16px/2 cursive;
 font-size: 1em;
   border: none;
  border-radius: 20px;
}

.cont_author {
 width: 300px;
 height: 50px;
 font: italic small-caps 16px/2 cursive;
 font-size: 0.7em;
 border: none;
 border-radius: 20px;

}

.container_out {
  display: table;
  justify-content: flex-start;
  background-color: white;
  opacity: 0.95;
  margin: 3% 3%;
}
.btn_out {
  width: 330px;
  height: 430px;
  margin: 5px;
}
.img_out {
  width: 290px;
  height: 390px;
}

.link_home {
 margin: 3%;
 font: italic small-caps 16px/2 cursive;
 font-size: 1.8em;
}

.container_detail_out {
  display: flex;
  background-color: white;
  opacity: 0.95;
  margin: 3% 3%;
}
.cont_detail {
  margin: 5px;
  width: 500px;
  height: 600px;
}

.cont_detail_txt {
  margin: 5px;
  width: auto;
  height: auto;
}

.img_det{
margin: 5px;
  width: auto;
  height: 590px;
}

.p_detail {
 margin: 3%;
 font: italic small-caps 16px/2 cursive;
 font-size: 1em;
}

.p_title {
 margin: 3%;
 font: italic small-caps 16px/2 cursive;
 font-size: 1.5em;
}

.p_annot {
 margin: 3%;
 font: italic small-caps 16px/2 cursive;
 font-size: 0.8em;
}

.p_interest {
 margin: 3%;
 font: italic small-caps 16px/2 cursive;
 font-size: 1.2em;
 color: green;
}

.img_det_new {
margin: 5px;
  width: 95%;
  height: 95%;
}

.btn_out_new {
  width: 490px;
  height: 590px;
  margin: 5px;
}

.date {
 font: italic small-caps 16px/2 cursive;
 font-size: 1.2em;
  width: auto;
  height: auto;
  margin: 5px;
}

.container_date {
  box-sizing: border-box;
  display: flex;
  background-color: white;
  opacity: 0.95;
  flex-flow: column wrap-reverse;
  align-items: center;
  margin: 15% auto;
  width: 20%;
  height: auto;
  font: italic small-caps 16px/2 cursive;
  font-size: 1,1em;
}